In [1]:
import pandas as pd

In [6]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
# uploading dataset
net = pd.read_csv(r"C:\Users\Dell\Downloads\Netflix Userbase.csv")

In [4]:
net

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month
...,...,...,...,...,...,...,...,...,...,...
2495,2496,Premium,14,25-07-22,12-07-23,Spain,28,Female,Smart TV,1 Month
2496,2497,Basic,15,04-08-22,14-07-23,Spain,33,Female,Smart TV,1 Month
2497,2498,Standard,12,09-08-22,15-07-23,United States,38,Male,Laptop,1 Month
2498,2499,Standard,13,12-08-22,12-07-23,Canada,48,Female,Tablet,1 Month
2499,2500,Basic,15,13-08-22,12-07-23,United States,35,Female,Smart TV,1 Month

In [6]:
# Shape of dataset
net.shape

(2500, 10)

In [7]:
net.head(5)

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month

In [8]:
net.tail(5)

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
2495,2496,Premium,14,25-07-22,12-07-23,Spain,28,Female,Smart TV,1 Month
2496,2497,Basic,15,04-08-22,14-07-23,Spain,33,Female,Smart TV,1 Month
2497,2498,Standard,12,09-08-22,15-07-23,United States,38,Male,Laptop,1 Month
2498,2499,Standard,13,12-08-22,12-07-23,Canada,48,Female,Tablet,1 Month
2499,2500,Basic,15,13-08-22,12-07-23,United States,35,Female,Smart TV,1 Month

In [9]:
net.describe()

          User ID  Monthly Revenue          Age
count  2500.00000      2500.000000  2500.000000
mean   1250.50000        12.508400    38.795600
std     721.83216         1.686851     7.171778
min       1.00000        10.000000    26.000000
25%     625.75000        11.000000    32.000000
50%    1250.50000        12.000000    39.000000
75%    1875.25000        14.000000    45.000000
max    2500.00000        15.000000    51.000000

In [10]:
# checking null values

net.isnull().sum()

User ID              0
Subscription Type    0
Monthly Revenue      0
Join Date            0
Last Payment Date    0
Country              0
Age                  0
Gender               0
Device               0
Plan Duration        0
dtype: int64

In [16]:
# checking unique Value of all column 

net.nunique()

User ID              2500
Subscription Type       3
Monthly Revenue         6
Join Date             300
Last Payment Date      26
Country                10
Age                    26
Gender                  2
Device                  4
Plan Duration           1
dtype: int64

In [19]:
# how many type of Subscription type.

net.groupby('Subscription Type')['Gender'].count().nunique()

3

In [26]:
# which country were most Subscription purchased.

net.Country.value_counts()

United States     451
Spain             451
Canada            317
United Kingdom    183
Australia         183
Germany           183
France            183
Brazil            183
Mexico            183
Italy             183
Name: Country, dtype: int64

In [31]:
# whose device were most subscription Taken 

net.groupby('Device')['Gender'].count()

Device
Laptop        636
Smart TV      610
Smartphone    621
Tablet        633
Name: Gender, dtype: int64

In [51]:
# how many subsription purchase in date Between 10-07-22 to 26-06-23

net[net['Join Date'].between('10-07-22','26-06-23')].count().head(1)

User ID    1241
dtype: int64

In [63]:
# Monthly Revenue of Subscription Type Wise 

net.groupby('Subscription Type')['Monthly Revenue'].sum()

Subscription Type
Basic       12469
Premium      9229
Standard     9573
Name: Monthly Revenue, dtype: int64

In [73]:
# how many subscription purchase Male and female 

net.groupby('Gender')['User ID'].count()

Gender
Female    1257
Male      1243
Name: User ID, dtype: int64

In [76]:
# What age group of humans have read the most Subscription?

net.groupby('Age')['Join Date'].count().sort_values(ascending = False).head()

Age
39    116
30    116
28    115
31    115
41    114
Name: Join Date, dtype: int64

In [77]:
net

,User ID,Subscription Type,Monthly Revenue,Join Date,Last Payment Date,Country,Age,Gender,Device,Plan Duration
0,1,Basic,10,15-01-22,10-06-23,United States,28,Male,Smartphone,1 Month
1,2,Premium,15,05-09-21,22-06-23,Canada,35,Female,Tablet,1 Month
2,3,Standard,12,28-02-23,27-06-23,United Kingdom,42,Male,Smart TV,1 Month
3,4,Standard,12,10-07-22,26-06-23,Australia,51,Female,Laptop,1 Month
4,5,Basic,10,01-05-23,28-06-23,Germany,33,Male,Smartphone,1 Month
...,...,...,...,...,...,...,...,...,...,...
2495,2496,Premium,14,25-07-22,12-07-23,Spain,28,Female,Smart TV,1 Month
2496,2497,Basic,15,04-08-22,14-07-23,Spain,33,Female,Smart TV,1 Month
2497,2498,Standard,12,09-08-22,15-07-23,United States,38,Male,Laptop,1 Month
2498,2499,Standard,13,12-08-22,12-07-23,Canada,48,Female,Tablet,1 Month
2499,2500,Basic,15,13-08-22,12-07-23,United States,35,Female,Smart TV,1 Month

In [78]:
# How many Monthly Revenue of Male and Female

net.groupby('Gender')['Monthly Revenue'].sum()

Gender
Female    15736
Male      15535
Name: Monthly Revenue, dtype: int64

In [80]:
# top 5 most revenue wise country 

net.groupby('Country')['Monthly Revenue'].sum().sort_values(ascending = False).head()

Country
United States     5664
Spain             5662
Canada            3950
United Kingdom    2318
Italy             2317
Name: Monthly Revenue, dtype: int64

In [7]:
# Subscription Type Wise Monthly Revenue

net.groupby('Subscription Type')['Monthly Revenue'].sum()

Subscription Type
Basic       12469
Premium      9229
Standard     9573
Name: Monthly Revenue, dtype: int64

In [13]:
# How many people buy subscription by Laptop in Spain

a = net[net['Country']=='Spain']

In [22]:
a[a['Device']=='Laptop'].count().head(1)

User ID    107
dtype: int64